body { font-family: 'Mukta Mahee', sans-serif; }

#drag-1, #drag-2 {
    width: 25%;
    height: 100%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}

#board {
    display: inline-block;
    background-image: url("/_img/_board.png");
    width: 360px;
    height: 360px;
}

#bk { background-image: url("/_img/bk.png"); }
#bq { background-image: url("/_img/bq.png"); }
#br1 { background-image: url("/_img/br.png"); }
#br2 { background-image: url("/_img/br.png"); }
#bn1 { background-image: url("/_img/bn.png"); }
#bn2 { background-image: url("/_img/bn.png"); }
#bb1 { background-image: url("/_img/bb.png"); }
#bb2 { background-image: url("/_img/bb.png"); }
#bp1, #bp2, #bp3, #bp4, #bp5, #bp6, #bp7, #bp8 {
    background-image: url("/_img/bp.png");
}
#wk { background-image: url("/_img/wk.png"); }
#wq { background-image: url("/_img/wq.png"); }
#wr1 { background-image: url("/_img/wr.png"); }
#wr2 { background-image: url("/_img/wr.png"); }
#wn1 { background-image: url("/_img/wn.png"); }
#wn2 { background-image: url("/_img/wn.png"); }
#wb1 { background-image: url("/_img/wb.png"); }
#wb2 { background-image: url("/_img/wb.png"); }
#wp1, #wp2, #wp3, #wp4, #wp5, #wp6, #wp7, #wp8 {
    background-image: url("/_img/wp.png");
}

.row8, .row7 {
    z-index: 5;
    width: 45px;
    height: 45px;
    position: relative;
    float: left;
    left: 0px;
    top: 0px;
}

.row1, .row2 {
    z-index: 5;
    width: 45px;
    height: 45px;
    position: relative;
    float: left;
    left: 0px;
    top: 180px;
}