body { font-family: 'Mukta Mahee', sans-serif; }
h1 { margin: 0 0; }
h3 { margin: 10px 5px; }

#white-board {
    position: relative;
    background-image: url("/img/white-board.png");
    width: 360px;
    height: 360px;
}

#black-board {
    position: relative;
    background-image: url("/img/black-board.png");
    width: 360px;
    height: 360px;
}

.piece {
    z-index: 1;
    position: absolute;
    width: 45px;
    height: 45px;
}

.kb { background-image: url("/img/bk.png"); }
.qb { background-image: url("/img/bq.png"); }
.rb { background-image: url("/img/br.png"); }
.nb { background-image: url("/img/bn.png"); }
.bb { background-image: url("/img/bb.png"); }
.pb { background-image: url("/img/bp.png"); }

.kw { background-image: url("/img/wk.png"); }
.qw { background-image: url("/img/wq.png"); }
.rw { background-image: url("/img/wr.png"); }
.nw { background-image: url("/img/wn.png"); }
.bw { background-image: url("/img/wb.png"); }
.pw { background-image: url("/img/wp.png"); }

.moves {
    border-radius: 10px;
    float: right;
    background-color: #e9e9e9;
    width: 200px;
    height: 500px;
    overflow-y: scroll;
}

.main-div {
    margin:0 auto;
    text-align: center;
    width: 600px;
    height: 600px
}