html
  head
    link(href='https://fonts.googleapis.com/css?family=Mukta+Mahee', rel='stylesheet')
    link(href='style/style.css', rel='stylesheet', type='text/css', media='all')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/socket.io.js')
    script(type='text/javascript', src='js/interact.min.js')
    script(type='text/javascript', src='js/drag.js')
    script(type='text/javascript', src='js/update.js')
    script.
      $(function () {
      	var current_url = window.location.href;
      	$("#url").text(current_url.substr(0, current_url.length-1) + '1');
      });
  body
    .main-div
      div(style='text-align: center; float: left; width: 400px;')
        h1 Play!
        h3#player-color White player
        #boardW
          #br2.row8(col='A', row='8')
          #bn2.row8(col='B', row='8')
          #bb2.row8(col='C', row='8')
          #bq.row8(col='D', row='8')
          #bk.row8(col='E', row='8')
          #bb1.row8(col='F', row='8')
          #bn1.row8(col='G', row='8')
          #br1.row8(col='H', row='8')
          #bp8.row7(col='A', row='7')
          #bp7.row7(col='B', row='7')
          #bp6.row7(col='C', row='7')
          #bp5.row7(col='D', row='7')
          #bp4.row7(col='E', row='7')
          #bp3.row7(col='F', row='7')
          #bp2.row7(col='G', row='7')
          #bp1.row7(col='H', row='7')
          #wp1.draggable.row2(col='A', row='2')
          #wp2.draggable.row2(col='B', row='2')
          #wp3.draggable.row2(col='C', row='2')
          #wp4.draggable.row2(col='D', row='2')
          #wp5.draggable.row2(col='E', row='2')
          #wp6.draggable.row2(col='F', row='2')
          #wp7.draggable.row2(col='G', row='2')
          #wp8.draggable.row2(col='H', row='2')
          #wr1.draggable.row1(col='A', row='1')
          #wn1.draggable.row1(col='B', row='1')
          #wb1.draggable.row1(col='C', row='1')
          #wq.draggable.row1(col='D', row='1')
          #wk.draggable.row1(col='E', row='1')
          #wb2.draggable.row1(col='F', row='1')
          #wn2.draggable.row1(col='G', row='1')
          #wr2.draggable.row1(col='H', row='1')
        h5#url
      .moves
        h3#move White move
        ol#list